{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>

	<title>Hello Properties</title>
	<!-- bootstrap-css -->
	<link href="{% static 'css/bootstrap.css' %} " rel="stylesheet" type="text/css" media="all" />
	<!--// bootstrap-css -->
	<link rel="stylesheet" type="text/css" href="{% static 'css/jquery-ui.css' %}">
	<!-- css -->
	<link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css" media="all" />
    <link rel="stylesheet" href="{% static 'css/index.css' %}" type="text/css" media="all" />
	<!--// css -->
	<!-- font-awesome icons -->
	<link href="{% static 'css/font-awesome.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css' %}">
	<!-- //font-awesome icons -->
	<link rel="stylesheet" href="{% static 'css/owl.carousel.css' %}" type="text/css" media="all">
    <style type="text/css">
        body{
            background: url("{% static 'images/e5.jpg' %}");
            background-repeat: no-repeat;
            background-size: cover;

        }
    </style>
    <style>
table, th, td {
  border: 3px solid black;
    color:black;
}
</style>

</head>
<body>
<!-- header -->
	<div class="header">
		<div class="main_header">
			<div class="header_nav">
				<nav class="navbar navbar-default">
					<div class="navbar-header navbar-left">
						<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbart">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						<a class="navbar-brand" href="index.html"><img src="{% static 'images/logo.png' %}" alt="HP"/></a>
					</div>

					<div class="collapse navbar-collapse navbar-right" id="navbart">
						<nav class="nav_starts">
							<ul class="nav navbar-nav">
								<li><a href="index.html">Home</a></li>
								<li class="dropdown">
									<a href="#" class="dropdown-toggle" data-toggle="dropdown">Track <b class="caret"></b></a>
									<ul class="dropdown-menu nav_dropdown">
										<li><a href="buyres.html">Cancel Order</a></li>
										<li><a href="buycomm.html">Order Track</a></li>
									</ul>
								</li>
								<li>
									<a>Cart</a>

								</li>

								<li><a href="http://localhost:8000/home/authapp/signup">Sign Up</a></li>
                                <li><a href="/authapp/my_logout">logout</a></li>

							</ul>
						</nav>
				    </div>


<form action="/authapp/search">
 {% csrf_token %}
 <select

      name="pcat"
      title="Search in"
    >
        <option selected="selected" value="search-alias=aps">All Categories</option>
        <option value="Appliances">Appliances</option>
        <option value="Apps & Games">Apps & Games</option>
        <option value="Baby">Baby</option>
        <option value="Beauty">Beauty</option>
        <option value="Books">Books</option>
        <option value="Car">Car</option>
        <option value="Clothing">Clothing</option>
        <option value="Computers">Computers</option>
        <option value="Electronics">Electronics</option>
        <option value="Furniture">Furniture</option>
        <option value="Garden & Outdoors">Garden & Outdoors</option>
        <option value="Gift Cards">Gift Cards</option>
        <option value="Grocery">Grocery</option>
        <option value="Health">Health</option>
        <option value="Kitchen">Kitchen</option>
        <option value="search-alias=jewelry">Jewellery</option>
        <option value="Bags">Bags</option>
        <option value="Music">Music</option>
        <option value="Musical Instruments">Musical Instruments</option>
        <option value="Pet Supplies">Pet Supplies</option>
        <option value="Shoes & Handbags">Shoes & Handbags</option>
        <option value="Software">Software</option>
        <option value="Toys">Toys</option>
        <option value="Video Games">Video Games</option>
        <option value="Watches">Watches</option>
    </select><input type="text" name="pname" placeholder="enter product name"><br>
    <input type="submit" value="search"></form>




<table align="center">
    <tr>
        <th>pid</th>
        <th>pcat</th>
        <th>pname</th>
        <th>pcost</th>
        <th>pdisc</th>
        <th>pmfdt</th>
        <th>pexpdt</th>
    </tr>
    {% for rec in recs %}
        <tr>
            <td>{{ rec.pid }}</td>
            <td>{{ rec.pcat }}</td>
            <td>{{ rec.pname }}</td>
            <td>{{ rec.pcost }}</td>
            <td>{{ rec.pdisc }}</td>
            <td>{{ rec.pmfdt }}</td>
            <td>{{ rec.pexpdt }}</td>
        {# <td><a href="/cart/addcart?pid={{ rec.pid }}">add to cart</a></td> #}
        {#  <td><a href="/reviewapp/displayreviews?pid={{ rec.pid }}">read reviews</a></td> #}
        </tr>
    {% endfor %}
 </table>
           </nav>
            </div>
        </div>
    </div>

</body>
</html>